<h2>My Users</h2>
<ul class="users">
  <li *ngFor="let user of users">
    <a routerLink="/detail/{{ user.id }}">
      <!--  <button
      [class.selected]="user === selectedUser"
      type="button"
      (click)="onSelect(user)"
    >
 -->
      <span class="badge">{{ user.id }}</span
      >{{ user.name }}</a
    >
    <span class="name">{{ user.name }}</span>
    <!--Added Monday 07032022-->
    <span class="email">{{ user.email }}</span>
    <span class="email">{{ user.address.street }}</span>
    <!--    </button> -->

    <button
      type="button"
      class="delete"
      title="delete user"
      (click)="delete(user)"
    >
      x
    </button>
  </li>
</ul>

<div *ngIf="selectedUser">
  <h2>{{ selectedUser.name | uppercase }} Details</h2>
  <div>id: {{ selectedUser.id }}</div>
  <div>
    <label for="name"> name: </label>
    <input id="name" [(ngModel)]="selectedUser.name" placeholder="name" />

    <label for="username"> username: </label>
    <input
      id="user-name"
      [(ngModel)]="selectedUser.username"
      placeholder="username"
    />

    <label for="email"> email: </label>
    <input id="email" [(ngModel)]="selectedUser.email" placeholder="email" />
  </div>
</div>

<div>
  <label for="new-user">User name: </label>
  <input id="new-user" #userName />

  <label for="new-user">email: </label>
  <input id="new-user" #email />

  <!-- (click) passes input value to add() and then clears the input -->
  <button
    type="button"
    class="add-button"
    (click)="add(userName.value); userName.value = ''"
  >
    Add user
  </button>
</div>

<table class="table">
  <thead>
    <h2>Ceta</h2>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>UserName</th>
      <th>email</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Company</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>
        <button
          [class.selected]="user === selectedUser"
          type="button"
          (click)="onSelect(user)"
        >
          <span class="badge">{{ user.id }}</span>
          <span class="name">{{ user.name }}</span>
        </button>
      </td>
      <td>
        <button
          [class.selected]="user === selectedUser"
          type="button"
          (click)="onSelect(user)"
        >
          <span class="username">{{ user.username }}</span>
        </button>
      </td>

      <td>
        <button
          [class.selected]="user === selectedUser"
          type="button"
          (click)="onSelect(user)"
        >
          <span class="email">{{ user.email }}</span>
        </button>
      </td>
      <td>
        {{ user.address.street }}, {{ user.address.suite }},
        {{ user.address.city }}, {{ user.address.zipcode }}, lat:
        {{ user.address.geo.lat }}, long:
        {{ user.address.geo.lng }}
      </td>
      <td>{{ user.phone }}</td>
      <td>{{ user.website }}</td>
      <td>{{ user.company.catchPhrase }}</td>
      <td>
        <button
          type="button"
          class="delete"
          title="delete user"
          (click)="delete(user)"
        >
          x
        </button>
      </td>
    </tr>
    <!-- <app-user-detail [user]="selectedUser"></app-user-detail>-->
  </tbody>
</table>
