<!-- (click) passes input value to add() and then clears the input 
     (click)="add(users)"
  userName.value = ''; email.value = ''-->
<h2>Add User</h2>

<div>
  <label for="name"> Name: </label>
  <input id="name" #name />

  <label for="new-user">User NAME: </label>
  <input id="new-user" #userName />

  <label for="new-email">email: </label>
  <input id="new-email" #email />

  <label for="Street"> Street: </label>
  <input id="street" #street />

  <label for="Suite"> Suite: </label>
  <input id="suite" #suite />

  <label for="City"> City: </label>
  <input id="city" #city />

  <label for="Zipcode"> Zipcode: </label>
  <input id="zipcode" #zipcode />

  <label for="Lat"> Lat: </label>
  <input id="lat" #lat />

  <label for="Lng"> Lng: </label>
  <input id="lng" #lng />

  <label for="phone"> phone: </label>
  <input id="phone" #phone />

  <label for="website"> website: </label>
  <input id="website" #website />

  <label for="_name"> _name: </label>
  <input id="_name" #_name />
  <label for="catchPhrase"> CatchPhrase: </label>
  <input id="catchPhrase" #catchPhrase />
  <label for="bs"> bs: </label>
  <input id="bs" #bs />
</div>
<button
  type="button"
  class="add-button"
  (click)="
    add(
      name.value,
      userName.value,
      email.value,
      street.value,
      suite.value,
      city.value,
      zipcode.value,
      lat.value,
      lng.value,
      phone.value,
      website.value,
      _name.value,
      catchPhrase.value,
      bs.value
    )
  "
>
  Add User
</button>
<div *ngIf="selectedUser">
  <h2>{{ selectedUser.name | uppercase }} Details</h2>
  <div>id: {{ selectedUser.id }}</div>
  <div>
    <label for="name"> Name: </label>
    <input id="name" [(ngModel)]="selectedUser.name" placeholder="name" />

    <label for="username"> Username: </label>
    <input
      id="user-name"
      [(ngModel)]="selectedUser.username"
      placeholder="username"
    />

    <label for="email"> email: </label>
    <input id="email" [(ngModel)]="selectedUser.email" placeholder="email" />

    <label for="Address"> Address: </label>
    <input
      id="address"
      [(ngModel)]="selectedUser.address"
      placeholder="address"
    />
    <label for="phone"> phone: </label>
    <input id="phone" [(ngModel)]="selectedUser.phone" placeholder="phone" />
    <label for="website"> website: </label>
    <input
      id="website"
      [(ngModel)]="selectedUser.website"
      placeholder="website"
    />
    <label for="Company"> Company: </label>
    <input
      id="company"
      [(ngModel)]="selectedUser.company"
      placeholder="company"
    />
  </div>
</div>

<table class="table">
  <thead>
    <h2>Ceta</h2>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>UserName</th>
      <th>email</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Company</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>
        <button
          [class.selected]="user === selectedUser"
          type="button"
          (click)="onSelect(user)"
        >
          <span class="badge">{{ user.id }}</span>
          <span class="name">{{ user.name }}</span>
        </button>
      </td>
      <td>
        <button
          [class.selected]="user === selectedUser"
          type="button"
          (click)="onSelect(user)"
        >
          <span class="username">{{ user.username }}</span>
        </button>
      </td>

      <td>
        <button
          [class.selected]="user === selectedUser"
          type="button"
          (click)="onSelect(user)"
        >
          <span class="email">{{ user.email }}</span>
        </button>
      </td>
      <td>
        {{ user.address.street }}, {{ user.address.suite }},
        {{ user.address.city }}, {{ user.address.zipcode }}, lat:
        {{ user.address.geo.lat }}, long:
        {{ user.address.geo.lng }}
      </td>
      <td>{{ user.phone }}</td>
      <td>{{ user.website }}</td>
      <td>
        {{ user.company.name }}, {{ user.company.catchPhrase }},
        {{ user.company.bs }}
      </td>
      <td>
        <button
          [class.selected]="user === selectedUser"
          type="button"
          (click)="delete(user)"
        >
          <span class="delete">x</span>
        </button>
      </td>
    </tr>

    <!-- <app-user-detail [user]="selectedUser"></app-user-detail>-->
  </tbody>
</table>
