.users {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.users li {
  display: flex;
}

.users button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  padding: 0;
  height: 1.6em;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 1.8em;
}

.users button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: 0.1em;
}

.users button:active {
  background-color: #525252;
  color: #fafafa;
}

.users button.selected {
  background-color: black;
  color: white;
}

.users button.selected:hover {
  background-color: #505050;
  color: white;
}

.users button.selected:active {
  background-color: black;
  color: white;
}

.users .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

.users .name {
  align-self: center;
}

table {
  font-family: arial, sans-serif;
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
}

.tableInfo {
  width: 75%;
  padding: 5px;
  margin: 4px;
  color: red;
}

button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

th {
  background-color: #04aa6d;
  color: white;
  border: 1px solid #04aa6d;
  min-width: 142px;
  max-width: 142px;
}
td {
  border: 1px solid #dddddd;
  min-width: 142px;
  max-width: 142px;
}
td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
